.containerSpace {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 0 30px;
    justify-content: space-between;
}

.leftImageSpace {
    width: 52%;
    display: flex;
    flex-wrap: wrap;
}


.leftImageSpace > img {
    width: 80%;
    height: 80%;
    margin-bottom: 20px;
}

.spaceReservations {
    display: flex;
    flex-wrap: wrap;
    width: 41%;
    padding-left: 50px;
}

.spaceReservations>h1 {
    font-family: 'Monument';
    font-size: 30px;
    line-height: 135%;
    color: #262626;
    width: 100%;
}


.spaceReservations>p {
    font-size: 14px;
    line-height: 130%;
    color: #9AA0B3;
    width:305px;
    margin-top: 10px;
    color: #9AA0B3;
}

p.spacePrice {
    font-family: 'Monument';
    font-size: 30px;
    color: #FF7848;
    margin: 20px 0px 20px;
}



.bookTourButton {
    background-color: #F5F5F5;
    border: 2px solid #FF7848;
    width:50%;
    height:10%;
    margin: 10px 0 10px 0;
    text-decoration: none;
    padding-top: 5px;
}

.bookTourButton>p {
    font-size: 16px;
    text-align: center;
    color: #FF7848;
}

.reserveSpaceButton {
    background-color: #FF7848;
    width:50%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
    color: #FFFFFF;
    text-decoration: none;
}

span.info {
    color: #555D67;
    margin-top: 10px;
    width: 50%;
}

.hrOr {
    width: 80%;
    margin-top: 10px;
    display: flex;
}

.hrOr>hr {
    width: 26.7%;
    height: 0px;
    margin-top: 12px;
    background-color: #DCE3ED
}

.hrOr>p {
    margin: 0 10px 0 10px;
    font-family: 'Outfit';
    color: #9AA0B3;
}

.openingHours {
    display: flex;
    margin: 20px 0px 20px 0;
}

.openingHours>h3 {
    font-weight: 500;
    font-size: 20px;
    color: #262626;
}

.dataInfo1, .dataInfo2 {
    background: #DCE3ED;
    opacity: 0.75;
    border-radius: 4px;
    margin-left: 20px;
    display: flex;
    padding: 12px;
}

.dataInfo1>p, .dataInfo2>p {
    padding-left: 20px;
}

.descriptionText>p {
    line-height: 140%;
    color: #555D67;
    margin-left: 50px;
    width: 52%;
    text-align: justify;
}

@media screen and (max-width: 1160px) {
    .leftImageSpace > img {
        width: 210%;
    }

    .spaceReservations {
        width: 100%;
        padding-left: 0px;
    }
    .spaceReservations>p {
        width:100%;
        margin-top: 0px;
    }

    .dataInfo1, .dataInfo2 {
        margin-left: 0;
        margin-right: 10px;
    }

    .openingHours>h3 {
        display: none;
    }

    .descriptionText>p {
        margin-left: 0px;
        width: 90%;
    }
}