.containerSpace {
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.spaceImages {
    width: 52%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 30px;
}


.leftImageSpace {
    margin-right: 20px;
}

.rightImageSpace {
    width: 40%;
}

.rightImageSpace > img {
    width: 305px;
    height: 160px;
    margin-bottom: 20px;
}

.spaceReservations {
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    margin-left: 60px;
    height: 200px;
    margin-top: 30px;
}

.spaceReservations>h1 {
    font-family: 'Monument';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 135%;
    color: #262626;
}


.spaceReservations>p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #9AA0B3;
    width:305px;
    margin-top: 10px;
/* or 18px */


/* Gray / 1 */

color: #9AA0B3;
}

p.spacePrice {
    font-family: 'Monument';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 135%;
    color: #FF7848;
    margin: 20px 0px 20px;
}



.bookTourButton {
    background-color: #F5F5F5;
    border: 2px solid #FF7848;
    width:305px;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bookTourButton>p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #FF7848;
}

.reserveSpaceButton {
    background-color: #FF7848;
    width:305px;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}

.reserveSpaceButton>p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

span.info {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #555D67;
    margin-top: 10px;
    width: 100%;
}

.hrOr {
    width: 100%;
    margin-top: 10px;
    display: flex;
}

.hrOr>hr {
    width: 26.7%;
    height: 0px;
    margin-top: 12px;
    background-color: #DCE3ED
}

.hrOr>p {
    margin: 0 10px 0 10px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #9AA0B3;

}