.main-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin:5% 5%;
}
.pic-col,.my-profile-col,.flex-col{
    display: flex;
    flex-direction: column;
}

.city-flex>.flex-col {
    margin-right: -4px;
}
.my-profile-col div{
    margin-right:1%;
    
}
.name-flex,.email-flex,.address-flex,.city-flex{
    display: inline-flex;
    margin-top: 2%;
    font-size: small;
    font-family: 'Outfit';
}
.city-flex input{
    width:90%;
}
.name-flex input,.email-flex input{
    width:20em;
}
.address-flex{
    margin-top: 3%;
}
.address-bar input {
    width: 26.5em;
}
.name-flex div,.email-flex div {
    margin-right:4%;
}
.number-input {
    margin-left: 1%;
}
.name-flex input,.email-flex input,.address-flex input,.city-flex input,.phone-input{
    height: 2.5em;
}
.profile-photo{
    width:6em;
    border-radius: 5rem;
    position: relative;
}


.upload-icon-profile{
    position: absolute;
    width:2em;
    margin-top: 0;
    margin-left: 4%;
    border: 1px solid white;
    border-radius: 5rem; 
    z-index: 1;
}
.profile-pic-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -15%;
}
.profile-list{
    display: block;
    width:100%;
    margin-top:10%;
    margin-left: 2%;
    cursor: pointer;
}
.profile-list li:hover{
    color: #FF7848;
}
.profile-list li{
    list-style: none;
    margin-top:1%;
    padding:2% 0; 
    font-size: medium;
 }
.profile-list hr{
    width:60%;
}
.profile-list li span{
    position: absolute;
    left: 23%;
}

h2{
font-family:'Monument';
line-height: 135%;
}
button{
    width:12.5em;
    background-color:#FF7848;
    margin-top: 4%;
    border: none;
    height:2.5em;
}
.profile-pic-div h5{
   margin:5% 0;
}
.address h5,.my-profile-col h5{
    margin-top: 1%;
    margin-bottom: -1%;
   font-family: 'Outfit';
   font-weight: 900;
}
.profile-img{
    border :1px solid white;
    border-radius: 50%;
}

/* react phone input styling */
.flex-col .react-tel-input .form-control {
    width:19em !important;
    border: 1px solid #DCE3ED ;
    margin-top: 1px !important;
    border-radius: 0;
}
.flex-col .react-tel-input .flag-dropdown{
    top: -12%;
    bottom:1%;
}


@media only screen and  (min-width: 37em) and (max-width: 57em) {
   
    .name-flex,.email-flex,.address-flex,.city-flex{
        display: flex;
        flex-direction: column;
        margin-top:3%;
        font-size: small;
    }
    .address-flex input{
        width: 26.3em;
    }
    .city-flex input{
        width: 26.4em;
    }
    .name-flex input,.email-flex input{
        width: 26.2em;
    }
    .flex-col .react-tel-input .form-control {
        width: 25em !important;
        border: 1px solid #DCE3ED !important;
        margin-top: 1px !important;
        border-radius: 0;
    }
    
    .flex-col>.phone-input {
        width: 10%;
    }
    .profile-list li{
        margin-top:0;
        margin-left: 0%;
     }
    .profile-list li{
        font-size: small;
     }
     .profile-list li span{
        display: none;
    }
    .profile-list hr{
        margin-left: 0%;
        width:65%;
    }
    .number-input {
        margin-left: 0;
    }
    .react-tel-input .flag-dropdown{
        top: -12%;
        bottom: 1%;
    }
    .upload-icon-profile{
        width: 2em;
        margin-top: 0%;
        margin-left: 9%;
    }
 }

 @media only screen and (min-width: 57em) and (max-width: 87em) {
    .upload-icon-profile{
        width:1.8em;
        margin-top: 0%;
        margin-left: 7%;
    }
 }

 @media only screen and (max-width: 37em) {
    .main-grid,.name-flex,.email-flex,.address-flex,.city-flex{
        display: flex;
        flex-direction: column;
        font-size: small;
    }
    .profile-list{
        margin-top:0;
        margin-left: -9%;
        margin-bottom: 4%;
    }
    .profile-list li{
        font-size: small;
        margin-left:10%;
    }
    .name-flex input,.email-flex input,.phone-input{
        width: 100%;
    }
    button{
        width: 95%;
    }
    .address-flex input{
        width:97%;
    }
    .city-flex input{
        width:95%;
    }
    .profile-list li span{
        display: none;
    }
    .profile-list hr{
        margin-left: 10%;
        width:50%;
    }
    .number-input {
        margin-left: 0;
    }
  
    .profile-pic-div h5{
        font-size:medium;
    }
    .flex-col .react-tel-input .form-control {
        width: 100% !important;
        border: 1px solid #DCE3ED !important;
        margin-top: 1px !important;
        border-radius: 0;
    }
    .react-tel-input .flag-dropdown{
        top: -16%;
        bottom: 1%;
    }
    .upload-icon-profile{
        width:1.8em;
        margin-top: -5%;
        margin-left: 10%;
    
    }
   
  }