* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.locations-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;

}
body{
  background-color:  #F5F5F5;
}

div.fPqLXB {
  margin-right: 0px;
}
.checkbox {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.check-wrapper{
  border-right:1px solid #dce3ed ;
  padding-right: 30px;
}

.input-wrapper {
  display: flex;
  gap: 15px;
  padding-bottom: 50px;
}

.budget {
  width: 100%;
  height: 100%;
}
.budget-wrapper {
  border-radius: 4px;
  background-color:white;
  border:1px solid #dce3ed ;
}

.apply-button {
  display: flex;
  padding-top: 60px;
  gap: 10px;
  border-radius: 17px;

}

.budget-t {
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #262626;
}

.annually {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

.checkbox-input {
  display: flex;
}

.checkbox-container {
  margin: 0;
  padding-bottom: 60px;
  padding-left: 20px;
}

.check {
  height: 24px;
}

.office-sp {
  padding-top: 40px;
  padding-bottom: 40px;
}

.duration {
  padding-bottom: 25.77px;
}


.list {
  display: flex;
}

.card {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-top: 24px; 
  border-bottom: 1px solid #dce3ed;
  border-top: 1px solid #dce3ed;
}
 img.img {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  height:auto;
}
.list-wrapper {
  display: flex;
  justify-content: flex-start;
}
.view-list {
  color: #555d67;
  text-transform: capitalize;
  font-family: "Outfit";
  font-weight: 500;
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 10px;
}


.list-wrapper .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card .title {
  display: block;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 15px;
  width: 100%;
}
.title {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.address-city-country {
  padding-top: 45px;
  gap: 20px;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
}

.area-maxPeople-costperDay {
  width:100%;
  display: flex;
  gap: 20px;
  padding-top: 47px;
  font-weight: 400;
  font-size: 16px;
}
.budget-button {
  display: flex;
  padding-top: 20px;
  gap: 10px;
}

.budget-wrapper {
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  
}
.apply-wrapper {
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: white;
  background-color: #FF7848;
  border-radius: 4px;
}
.apply{
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  color:#FF7848; 
  background-color: white;
  border-radius: 4px;
  border:1px solid #FF7848; ;
}

.spacesLink {
  text-decoration: none;
  color: orange;
  font-weight: 600;
  font-size: 16px;
  color: #FF7848;
}

@media screen and (max-width: 1160px) {

  .checkbox-container {
    padding-left: 10px;
  }

  .office-sp {
    padding-top: 5px;
  }

.locations-container {
  display: flex;
  flex-wrap: wrap;
}

.area-maxPeople-costperDay {
  padding-top: 10px;
}

img.img {
  margin: 10px;
  width: 50%;
  height: 50%;
}

.checkbox {
  display: block;
  border: none;
}

.locations {
  width: 100%;
}

.card, .check-wrapper {
  border: none;
}

.title {
  padding-top: 10px;
}

.address-city-country {
  display: block;
  padding-top: 5px;
}

.apply, .apply-wrapper {
  width: 100px;
}

.apply-button {
  padding-top: 10px;
}

.view-list {
  padding-top: 5px;
}
}

@media screen and (max-width: 426) {
  
}