.spacesLink {
    height: 19px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #FF7848;
    text-decoration: none;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.checkBoxFlexBox {
    display: grid;
    grid-template-columns: 1fr 2fr;
}