.spacesLink {
    height: 19px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #FF7848;
    text-decoration: none;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.budget-wrapper:hover {
    border: 5px solid orange;
}

.budget-wrapper:focus {
    color: orange;
    border: 1px solid black;
    opacity: 1;
    text-shadow: 0px 0px 1px orange}

