* {
  padding: 0;
  margin: 0;
}

.reserveSpace-container {
  width: 1440px;
  height: 927px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Outfit";
  gap: 2px;
}
.reserve-space {
  width: 840px;
  height: 500px;
  display: flex;
  /* justify-content: center; */
}

.information {
  width: 600px;
  /* display: flex; */
  /* justify-content: center; */
}
.info-title {
  height: 90px;
  width: 600px;
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  padding-left: 40px; 
  align-items:center ;
  font-family: "Outfit";
}
.form-2 {
  /* padding-top: 20px;
  padding-bottom: 50px;
  */
  height: 120px;
}
.form {
  border-radius: 4px;
  border: 1px solid #dce3ed;
}

.form-1-wrapper {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-message {
  padding-top: 20px;
  padding-bottom: 50px;
}

p4-space-wrapper {
  font-family: "Outfit";
}
.space-wrape {
  height: 250px;
  width: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.space-wrapper-2 {
  height: 0px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p4-img-and-details {
  display: inline-flex;
}
.p4-img {
  margin: 3% 0;
  margin-right: 3%;
  width: 40%;
}
.p4-title-and-details {
  margin: 1% 0;
  width: 100%;
}

.p4-address-city-country,
.show-date {
  font-size: small;
  margin-top: 27%;
}
hr {
  width: 600px;
  /* margin:0 0; */
  border-top: 0.7px solid #dce3ed;
}
.p4-location-icon {
  width: 5%;
  margin-right: 2%;
}
hr {
  width: 600px;
  /* margin:0 0; */
  border-top: 0.2px solid #dce3ed;
}
.p4-location-icon {
  width: 5%;
}
.calendar-icon {
  width: 5%;
}
.show-date-time {
  display: flex;
  justify-content: flex-start;
  width: 600px;
  height: 60px;
  padding-bottom: 15px;
  font-size: small;
  margin-top: 15%;
  border-bottom: 2px solid #dce3ed;
}

.back-link {
  display: flex;
  text-decoration: none;
  /* margin: 2% 7%; */
}
.back-link img {
  width: 2em;
}
.back-link span,
.show-times {
  font-size: small;
}
.back-link span {
  display: inline-flex;
  align-items: center;
  color: #ff7848;
}
.total-pay{
  height: 60px;
  width: 70px;
  font-family: 'Outfit';
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color:#262626;;

}