* {
  padding: 0;
  margin: 0;
}

.paymentSelection-Container {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}
.reserve-space-payM {
  display: flex;
  justify-content: center;
}
 .space-wrape-sp{
  padding-left: 25px;
  /* padding-top: 200px; */

}
.payM {
  display: flex;
  justify-content: flex-start;
  padding-top: 100px;
  padding-bottom: 20px;
  font-family: "Outfit";
}
.form-2 {
  border-radius: 4px;
  border: 1px solid #dce3ed;
}
.p4-space-wrapper{
  width: 73%;
}

.payM-wrapper {
  width: 00px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p4-img-and-details {
  display: inline-flex;
  padding-top: 25px;
}
h4 {
  font-family: "Outfit";
  font-size: 20px;
 
}

.p4-img {
  margin: 3% 0;
  margin-right: 3%;
  width: 50%;
}
.p4-title-and-details {
  margin: 1% 0;
  width: 20%;
}

.p4-address-city-country,
.show-date {
  font-size: small;
  margin-top: 27%;
}
hr {
  width: 300px;
  border-top: 0.7px solid #dce3ed;
}
.p4-location-icon {
  width: 5%;
  margin-right: 2%;
}
hr {
  width: 300px;
  border-top: 0.2px solid #dce3ed;
}
.p4-location-icon {
  width: 5%;
}
.calendar-icon {
  width: 5%;
}
.show-date-time-- {
  display: flex;
  justify-content: flex-start;
  /* width: 600px;
  height: 60px; */
  padding-bottom: 15px;
  font-size: small;
   margin-top: 15px; 
  border-bottom: 2px solid #dce3ed;
}

.back-link {
  display: flex;
  text-decoration: none;
}
.back-link img {
  width: 2em;
}
.back-link span,
.show-times {
  font-size: small;
}
.back-link span {
  display: inline-flex;
  align-items: center;
  color: #ff7848;
}
.total-pay {
  /* height: 60px;
  width: 70px; */
  font-family: "Outfit";
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #262626;
}

.visa-card{
 
  font-family: "Outfit";
  
    
    /* color: #555D67; */

}
.expiry-cvc{
  padding-top: 10px;
  display: flex;
  justify-content: space-around;

  font-size: small;
}

.cvv{
  
   width: 60px;
}


@media only screen and (min-width: 360px) and (max-width: 768px) {
  .paymentSelection-Container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 39px;
  }

  img.img {
    margin: 10px;
    width: 50%;
    height: 50%;
  }
  .form-1-wrapper {
    /* height: 500px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .space-wrapper-2.p4-img-and-details-king {
    /* width: 600px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .p4-img-and-details-king {
    display: inline-flex;
    border: 2px;
    padding-top: 5%;
  }
}
.show-date-time-2 {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 15px;
  font-size: small;
  margin-top: 22%;
  border-bottom: 2px solid #dce3ed;
}
.payM-wrapper {
   width: 100%;

  display: flex;
  /* justify-content: center;
  align-items: baseline;
  flex-direction: column; */
  flex-wrap: nowrap;
  /* align-content: flex-start; */
}
.paymentSelection-payM {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.p4-title {
  display: flex;
  flex-direction: column;
}
