* {
  padding: 0;
  margin: 0;
}

.paymentSelection-Container {
   width: 100vw; 
  height: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}
.reserve-space-payM {
  display: flex;
  justify-content: center;
}
 .space-wrape-sp{
  padding-left: 25px;
}
.space-wrape-sp h4{
  font-family: 'Monument Extended';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 135%;
  color: #262626;
}
.p4-title {
 
  font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 20px;
padding-bottom: 10px;
}

.payM {
  display: flex;
  justify-content: flex-start;
  padding-top: 100px;
  padding-bottom: 20px;
  font-family: "Outfit";
}
.form-2 {
  border-radius: 4px;
}
.p4-space-wrapper{
  height: 100%;
  width: 73%;
}

.payM-wrapper {
  height: 100%;
    display: flex;
    padding-left: 29px;
    justify-content: space-evenly;
}

.p4-img-and-details {
  display: inline-flex;
  padding-top: 25px;
}
h4 {
  font-family: "Outfit";
  font-size: 20px;
 
}

.p4-img-sp {
  margin: 3% 0;
  margin-right: 3%;

}
.p4-title-and-details-king {
  margin: 1% 0;

}

.p4-address-city-country,
.show-date {
  font-size: small;
  margin-top: 27%;
}

.p4-location-icon {
  width: 5%;
  margin-right: 2%;
}
/* hr {
  width: 300px;
   border-top: 0.2px solid #dce3ed; 
} */
.p4-location-icon {
  width: 5%;
}
.calendar-icon {
  width: 5%;
}
.show-date-time-- {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 15px;
  font-size: small;
   margin-top: 15px; 
 
}

.back-link {
  display: flex;
  text-decoration: none;
}
.back-link img {
  width: 2em;
}
.back-link span,
.show-times {
  font-size: small;
}
.back-link span {
  display: inline-flex;
  align-items: center;
  color: #ff7848;
}
.total-pay {
  font-family: "Outfit";
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #262626;
}

.visa-card{
 
  font-family: "Outfit";
}
.expiry-cvc{
  padding-top: 15px;
  display: flex;
  justify-content: flex-start;
  font-size: small;
  flex-direction: row;
  flex-wrap: wrap;
}

.cvv{
  
   width: 60px;
}
.form-sub{
  padding-top: 60px;
}

@media only screen and  (max-width: 768px)and (max-width: 1160px) {
  .paymentSelection-Container {
    height: 100%;
    display: inline-block;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: nowrap;
    margin:5px;
  }
  .payM-wrapper{
    height: 100%;
    display: flex;
    padding-left: 154px;
    /* align-items: center; */
    justify-content: space-evenly;
}

  .form-1-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 24px;
  }

}

