.signUpSection {
    display: flex;
    width: 100%;
}

.signUpRightSide {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
}

.signUpRightSide > h1 {
    width: 100%;
    font-family: 'Monument';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 135%;
    color: #262626;
    margin-bottom: 40px;
}

.signUpRightSideH3 {
    width: 100%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    color: #262626;
    margin-bottom: 30px;
}

.GIinput {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

label {
    width: 100%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #555D67;
     /* display: flex;   */
    align-items: center;
}

.inputGI {
    margin: 5px;
    box-sizing: border-box;
    width: 40%;
    height: 44px;
    border: 1px solid #DCE3ED;
    border-radius: 4px;
}

.signUpRightSide > form {
    width: 100%;
}

.signUpButton {
    width:305px;
    height:45px;
    background: #FF7848;
    border: none;
}

.signUpButton>p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

.phoneNumberField {
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

label.phoneNumber {
    width: 77%;
    
}


.phoneNumberField>div.PhoneInput>input.form-control {
    width:40.4%;
    height: 44px;
    border: 1px solid #DCE3ED;
    border-radius: 4px;

}

.phoneNumberField>div.PhoneInput>input.react-tel-input {
    margin-left: 320px;
    
}

.upload-icon-signUp{
    height: 2em;
    margin-top: 5%;
    margin-left: -3%;
}

@media only screen and (min-width: 57em) and (max-width: 87em) {
    .upload-icon-signUp{
        width:1.8em;
        margin-top: 7%;
        margin-left: -4%;
    }
    .inputGI {
        width: 60%;
    }
    .phoneNumberField>div.PhoneInput>input.form-control {
        width:80%;
    }
 }

 @media only screen and  (min-width: 37em) and (max-width: 57em) {
    .upload-icon-signUp{
        width: 2em;
        margin-top: 9%;
        margin-left: -4%;
    }
    .inputGI {
        width: 80%;
    }
    .phoneNumberField>div.PhoneInput>input.form-control {
        width:80%;
    }
 }


 @media only screen and (max-width: 37em) {
    .upload-icon-signUp{
        width: 2em;
        margin-top: 14%;
        margin-left: -5%;
    }
    .inputGI {
        width: 80%;
    }
    .phoneNumberField>div.PhoneInput>input.form-control {
        width:80%;
    }
 }
/* ------------------------------------- */
/* -----Add Space Styling-------- */

.upload-icon-add-space{
    margin-top: 6%;   
    height: 3em;
    margin-left: -5%;
    border: #FFFFFF;
    border-radius: 50%;
}
.img-upload-label{
    width:40%;
    padding:'0 15%'
}
.img-upload-label .profile-img {
    border: none;
    border-radius: 1%;
     /* width:80em;  */
    margin-left: 0%;
}


@media only screen and (min-width: 57em) and (max-width: 77em) {
    .upload-icon-add-space{
        width:3em;
          margin-top: 8%;
    margin-left: -7%;
    }
    .img-upload-label{
        width:40%;
        padding:'0 15%'
    }
    .img-upload-label .profile-img {
        border: none;
        border-radius: 1%;
        width:10em; 
        padding-left: 5%;
    }
    .inputGI {
        width: 80%;
    }
    .phoneNumberField>div.PhoneInput>input.form-control {
        width:80.5%;
    }
 }

 @media only screen and  (min-width: 37em) and (max-width: 57em) {
    .img-upload-label{
        width:40%;
    }
    .upload-icon-add-space{
        width: 3em;
        margin-top: 11%;
        margin-left: -9%;
    }
    .img-upload-label .profile-img {
        border: none;
        border-radius: 1%;
        margin-left: 60%;
    }
    .phoneNumberField>div.PhoneInput>input.form-control {
        width:80.5%;
    }
 }
 
 @media only screen and (max-width: 37em) {
    .upload-icon-add-space{
        width: 2em;
        margin-top: 20%;
        margin-left: -10%;
    }
    .img-upload-label{
        width:40%;
    }
    .img-upload-label .profile-img {
        border: none;
        border-radius: 1%;
    }
    .phoneNumberField>div.PhoneInput>input.form-control {
        width:81%;
    }
 }
