.cal-page-main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 5%;
  }
  
  /*  react calendar styles   */
  .calendar {
    margin: 4% 0;
  }
  .calendar .react-calendar {
    border: none;
    margin-top: 5%;
  }
  .calendar .react-calendar__tile--active {
    background: #ff7848;
    color: white;
  }
  .calendar .react-calendar__tile--active:enabled:hover,
  .calendar .react-calendar__tile--active:enabled:focus {
    background: #ff7848;
  }
  
  /*  react timer styles   */
  .timer .inputWrapper__dropdown span:hover {
    color: #ff7848;
    background-color: white;
  }
  
  .timer .inputWrapper__dropdown span.is-active,
  .inputWrapper__dropdown span:hover {
    color: #ff7848;
    background-color: white;
  }
  .timer-div,
  .inline-flex-comp {
    display: inline-flex;
    margin-top: 4%;
    width: 45%;
    justify-content: space-between;

  }
  .inline-flex-comp {
    margin-top: 1%;
    align-items: center;
  }
  
  .from-time-div,
  .to-time-div {
    margin: 3% 2%;
    display: flex;
    flex-direction: column;
  }
  .clickedDropdown-btn {
      margin-top: 45%;
      background-color: #ff7848;
      color: white;
  }
  .continue-btn  {
     margin-top: 15%;
     background-color: #ff7848;
     color: white;
  }
  h4 {
    font-family: "Outfit";
    font-size: 20px;
    margin-top:3%;
  }
  .inline-flex-comp h5 {
    margin-right: 0;
    margin-top: 2%;
  }
  .back-link {
    display: flex;
    text-decoration: none;
    margin: 2% 7%;
  }
  .back-link img {
    width: 2.5em;
    padding-right: .5%;
  }
  .back-link span,
  .cal-page-show-time{
    font-size: smaller;
  }
  .back-link span {
    display: inline-flex;
    align-items: center;
    color: #ff7848;
  }
  .select-date-col {
    margin: 1% 5%;
  }
  
  .space-col h1 {
    font-family: "Monument";
    text-align: center;
    padding-right: 29px;
  }
  .cal-page-p4-img-and-details{
    display: inline-flex;
  }

  @media only screen and  (min-width: 37em) and (max-width: 48em) {
  .cal-page-show-time p{
    display:none;
  }
  }


  
@media only screen and (max-width: 37em) {

}
  
/* -------- Single Space Page Stylings ----------- */

.p4-space-wrapper{
    font-family: 'Outfit';
}

.p4-img-and-details{
    display: inline-flex;
    
}
.cal-p4-img{
    margin:3% 0;
    margin-right: 3%;
    width:80%;
}
.p4-title-and-details{
    margin:1% 0;
    width:100%
}

.cal-page-address-city-country,.show-date{
    font-size: small;
    margin-top: 77%;
    width: 18em; 
}

.p4-location-icon{
    width:5%;
    margin-right:2%;
}
.clock-icon{
    width:6%;
    margin-right:4%;
}
.date-time{
    margin-top:3%;
}
.calendar-icon{
    width:4%;
    margin-right:2%;
    color: #DCE3ED;

}
.show-date-time{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-top:3%;

}
.cal-page-hr{
  width:130%;
  margin:0 0;
  border-top: 2px solid #DCE3ED;
}  
@media only screen and (min-width: 48em)  and (max-width: 80em){
    .cal-page-address-city-country{
    margin-top: 63%;
  }
  .cal-p4-img{
    width:60%;
}
}
@media only screen and  (min-width: 37em) and (max-width: 48em) {
  .cal-page-main-grid {
    display: flex;
    flex-direction: column;
  }
  .show-date-time span{
    font-size: small;
   }
   .clock-icon{
    width:6%;
    margin-right:4%;
  }
  h2{
    margin-top: 5%;
    text-align: center;
  }
  .cal-p4-img{
    margin:3% 0;
    margin-left: 12%;
    width: 20em;
}
.cal-page-p4-img-and-details{
  display: flex;
  flex-direction: column;
}
.cal-page-address-city-country{
  margin-top: 8%;
}

}


@media only screen and (max-width: 37em) {
  .cal-page-main-grid {
    display: flex;
    flex-direction: column;
   }
   .show-date-time span{
    font-size: x-small;
   }
   .show-times{
   font-size:smaller; 
   }
   .cal-page-address-city-country{
    font-size:smaller;
   }
   .clock-icon{
    width:7%;
    margin-right:3.5%;
  }
  h2{
    margin-top: 20%;
    text-align: center;
  }
  .cal-page-p4-img-and-details{
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    
}

.cal-p4-img {
  margin: 3% 0;
  margin-left: 5%;
  width: 95%;
}

.p4-address-city-country, .show-date {
  font-size: small;
  margin-top: 10%;
}

} 


