.BookTourContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.bookTourLeftContainer {
    width: 57%;
    margin: 20px 0 0 20px;
}

.react-calendar .react-calendar--selectRange {
    margin: 0px;
}

.bookTourRightContainer {
    width: 40%;
    margin: 20px 0 0 20px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.bookTourRightForm {
    width: 100%
}

.bookTourRightInfo {
    margin: 10px 0 0px 0;
}

.bookTourForm {
    width: 80%;
    height: 40px;
    margin: 5px 0 5px 0;
}

.bookTourRightMessage {
    width: 90%;
    height: 120px;
}
.flag-dropdown {
    height: 88%;
}

.bookTourLeftSpaceTitle,
.bookTourLeftLocation,
.bookTourLeftShowDate,
.bookTourLeftShowTime {
    margin: 10px 0 10px 0;
    display: none;
}

.bookTourLeftImg {
    width: 100%;
}

.bookTourLeftLocationIcon, .bookTourLeftCalendarIcon, .bookTourLeftClock {
    width: 3%;
}

.bookTourLeftTitle {
    width: 100%;
    height: 20px;
}

.calendar {
    width: 90%;
}

.calendar-container {
    width: 100%;
}

.bookTourLeftCont {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.imageContainer {
    width: 50%;
    margin: 30px 0 0 5%;
}

.bookTourLeftDetails {
    margin-top: 15px;
}

.react-tel-input .form-control {
    width: 80%;
}

.imageContainer>p {
    padding-top: 10px;
}

@media screen and (max-width: 1024px) {
    .BookTourContainer {
        width: 80%;
        margin: 0 auto;
    }
    .imageContainer {
        display: none;
    }

    .bookTourRightContainer {
        margin: 0 auto;
        width: 80%;
    }
    .bookTourRightContainer {
        width: 100%;
        margin-left: 70px;
    }
    .bookTourLeftCont>hr {
        display: none;
    }
    .submitButtonBookTour {
        margin-left: -30px;
    }
    .bookTourRightMessage {
        margin-left: -20px;
    }

    .calendar {
        margin: 0 auto;
    }
    
    .calendar-container {
        margin-left: 10px;
    }

    .bookTourLeftTitle>h2 {
        margin-left: 60px;
        width: 100%;
    }
    .timer {
        margin-left: -5px;
        text-align: center;
    }
}