body {
    min-width: 521px;
}

@font-face {
    font-family: 'Monument';
    src: local('MonumentExtended-Regular.otf'), url(./MonumentExtended-FreeForPersonal/MonumentExtended-Regular.otf) format('truetype');
  }


.containerMain {
    display: flex;
    flex-wrap: wrap;
    font-style: normal;
    text-align: left;
}

.leftContainerMain {
    width: 50%;
    height: 657px;
    background: #F9FAFC;
}

.rightContainerMain {
    width: 50%;
    height: 657px;
    background-image: url(./ImagesHome/firstBlockImage.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.leftContainerMain>h1{
    font-family: 'Monument';
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    color: #262626;
    padding: 80px 0 0 80px;
}

.leftContainerMain>p{
    width: 522px;
    height: 40px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #555D67;
    padding-left: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.leftContInputs {
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
    justify-content: space-between;
}

.locationInput {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
margin-right: 10px;
margin-top: 20px;
display: flex;
}

.adressIcon {
    width: 20px;
    position: relative;
    align-items: center;
    display: flex;
    align-self: center;
    align-content: center;
}

.locationInput>input {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #DCE3ED;
    width: 73.5%;
    height: 50px;
    margin-left: 25px;
}

#selectOfficeType, #dateOption {
box-sizing: border-box;
background: #FFFFFF;
border: 1px solid #DCE3ED;
height: 50px;
width: 100%;
}

#selectOfficeType, #dateOption {
width: 38.1%;
}

#selectOfficeType {
    margin-left: 25px;
}

.selectDateOffice {
    width: 100%;
}

.leftContInputs>button {
    width: 80%;
    height: 56px;
    background-color:#FF7848;
    border: none;
    margin-top: 20px;
}

.bottomContainerLeft {
    margin: 0 auto;
}

.leftContInputs>button>p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

/* BootomSide */

.bottomContainer {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    background-color: white;
}

.bottomContainerLeft {
    width: 30%;
}

.bottomContainerRight {
    width: 70%;
}

.bottomContainerLeft>h1{
    font-family: 'Monument';
    font-weight: 400;
    font-size: 30px;
    line-height: 135%;    
    color: #262626;
    padding: 150px 0 0 80px;
}

.bottomContainerLeft>p {
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #555D67;
    padding-left: 80px;
}

.citesOptionPictures {
    margin: 80px 80px 0px 80px;
    width: 90%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
}

.pic1 {
    background-image: url(./ImagesHome/City5.png);
    width: 305px;
    height: 320px;
    background-repeat: no-repeat;
    margin-right: 20px;
    margin-bottom: 20px;
}

.citesOptionPictures{
font-family: 'Monument';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 135%;
color: #FFFFFF;
}

.pic24 {
    display: flex;
    width: 305px;
    margin-right: 20px;
    flex-wrap: wrap;
}

.pic1>p {
    padding-top: 50%;
    padding-left: 30%;
}

.pic2>p {
    padding-top: 20%;
    padding-left: 35%;
}

.pic4>p {
    padding-top: 20%;
    padding-left: 30%;
}

.pic3>p {
    padding-top: 70%;
    padding-left: 15%;
}

.pic5>p, .pic6>p {
    padding-top: 20%;
    padding-left: 40%;
}

.pic2 {
    background-image: url(./ImagesHome/City4.png);
    width: 305px;
    height: 150px;
    background-repeat: no-repeat;
}

.pic4 {
    background-image: url(./ImagesHome/City6.png);
    width: 305px;
    height: 150px;
    background-repeat: no-repeat;
}

.pic3 {
    background-image: url(./ImagesHome/City3.png);
    width: 197px;
    height: 320px;
    background-repeat: no-repeat;
}


.pic5 {
    background-image: url(./ImagesHome/City2.png);
    width: 414px;
    height: 197px;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.pic6 {
    background-image: url(./ImagesHome/City1.png);
    width: 413px;
    height: 197px;
    background-repeat: no-repeat;
}
/* BootomSide */

.mobileVersion {
    display: none;
}

@media screen and (max-width: 1160px) {

    .mobileVersion {
    display: block;
    margin: 0 auto;
    font-family: 'Monument';
    }

    .mobileVersion>p {
        width: 80%;
        margin: 0 auto;
        text-align: center
        }

    .mobileContainers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    margin: 10px auto;
    background: #F9FAFC;
    border: 1px solid #DCE3ED;
    width: 80%;
    }

    .mobileContainers > img {
        width: 40px;
    }

    .bottomContainerLeft>h1 {
        padding-top: 10px;
        width:90%;
        margin: 0 auto;
    }
    .leftContainerMain {
        width: 100%;
    }

    .rightContainerMain {
        width: 100%;
        height: 300px;
    }

    .pic2, .pic24, .pic3, .pic4, .pic5, .pic6 {
        display: none
    }

    .bottomContainerRight {
        width: 100%;
    }

    .bottomContainerLeft {
        width: 100%;
        margin-left: 10px;
    }

    .pic1 {
        margin: 0 auto;
    }
    .citesOptionPictures {
        margin: 0px auto;
        text-align: justify;
    }

    .bottomContainerLeft>p {
        margin: 10px auto;
        margin-left: 25px;
    }
}