*{
    margin:0;
    box-sizing: border-box;
    font-family: 'Outfit';
}

.app {
    font-family: 'Outfit,sans-serif';
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: 'Outfit,Cambria, Cochin, Georgia, Times, "Times New Roman", serif';
    background-color: #f8f9fd;
  }
  
  .input-container>input[type="text"],
  .input-container>input[type="password"] {
      box-sizing: border-box;
      background: #FFFFFF;
      border: 1px solid #DCE3ED;
      height: 50px;
  }
  
  .button-container>input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #FF7848;
    border: 1px solid #FF7848;
    color: #fff;
    padding: 10px 20px;
    width: 35em;
  }
  
  input[type="submit"]:hover {
    background: #f89d7c;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    width: 34em;
    position: relative;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-family: 'Monument';
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }
  
  .not-member-container{
    padding: 0.5rem 0;
    text-align: center;
  }
  
  .not-member-container a{
    text-decoration: none;
    color :#FF7848;
  }

  @media only screen and  (min-width: 40em) and (max-width: 70em) {
    /* For mobile ph */
  .login-form{
    width: 35rem;
}
 }
 @media only screen and (max-width: 39em) {
    .login-form{
        width: 18rem;
    }
  }