.containerFooter {
    background: #262626;
    height: 453px;
    display: flex;
    justify-content: space-between;
}

.leftContainer {
    width: 50%;
    text-align: left;
    padding-left: 80px;
}

.rightContainer {
    width: 50%;
    text-align: left;
}

.leftContainer>p {
    font-family: 'Outfit';
    font-size: 14px;
    line-height: 130%;
    color: #B7BCC2;
}

a>img {
    padding-right: 30px;
}

a>img:hover {
    cursor: pointer;
}
.footerLogo {
    margin: 100px 0px 50px;
}