.containerMyProfle {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 50px;
}
.containerMyProfleLeft {
    width: 30%;
    height: 100%;
}


.myProfileImg>img, .myProfileImg>h2 {
    margin-left: 45%;
    margin-top: 10px;
}

.menuOption { 
    height: auto;
    margin: 10px 0px 10px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.menuOption > .MenuNavLink {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;    
    color: #555D67;}

.menuOption> .MenuNavLink:hover {
    color: orange;
}

.containerMyProfleMenu {
    width: 305px;
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto;
}

.VectorImgMenu {
    position: absolute;
    right: 20px;
    color: #9AA0B3;
}

hr {
    width: 100%;
}

@media screen and (max-width: 1160px) {
    .containerMyProfle {
        display: none;
    }
}